

    <div class="jumbotron">
        <h1> Thailand Public Train Information Finder </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        The goal of this app is for user to find information about all Thailand Public Train data
    </p>

    <% if (true || loggedIn) {%>
        <form method="post" action="/stations/byId">
            Show station by station id:
              <input type="text" name="stationId"
                     placeholder="e.g. E11">
            <input type="submit">
        </form>
        <br>
    <% } %>
